#gameScreen {
  border: 1px solid black;
  background: url("/assests/images/bad-bunny-back.jpg");
}
body {
  background-color: pink;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

/* canvas.level1 {
  animation: spin 7s infinite;
}

/*document.getElementById('gameScreen').className = 'level1'*/

/* @keyframes spin {
  to {
    transform: rotateY(0deg);
  }
  from {
    transform: rotateY(360deg);
  }
} */ *


body {
  display: flex;
    flex-direction: column;
    align-items: center;
}

#livesLeft {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#playAgain{
  display:none;
  background-color: #c1f6e7;
  border-radius: 8px;
  border-color: transparent;
  height: 30px;
  width: 200px;
  padding: 2px;


}
#win_img {
  display:none;
}

#ball_img {
  display: none;
}

#paused_img {
  display: none;
}

#brick_img {
  display: none;
}
#start_img {
  display: none;
}
#carrot_img {
  display: none;
}
#gameover_img {
  display: none;
}
